<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>

      <%= link_to image_tag("google_signin.png", class: :google__img), user_google_oauth2_omniauth_authorize_path, method: :post%>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <%= render 'layouts/error_messages', model: f.object %>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <%if @sns_id.present? %>
          <%= hidden_field_tag :sns_auth, @sns_id %>
        <% else %>
          <div class="field">
            <%= f.label :password, "パスワード（6文字以上）" %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "パスワード再入力" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :channel_name, "チャンネル名" %><br />
          <%= f.text_field :channel_name %>
        </div>

        <div class="field">
          <%= f.label :channel_url, "チャンネルURL" %><br />
          <%= f.text_field :channel_url %>
        </div>

        <div class="field">
          <%= f.label :genre_id, "動画ジャンル" %><br />
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, ) %>
        </div>

        <div class="field">
          <%= f.label :introduction, "チャンネル紹介" %><br />
          <%= f.text_area :introduction, class: :form__text %>
        </div>

        <div class="field" id= "youtube_image">
          <%= f.label :image, "チャンネル画像（任意）" %><br />
          <%= f.file_field :image %>
        </div>

        <div class="mainimage-preview" id="image-preview"></div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>