<%= form_with model: video, local: true do |f|%>

  <%= render 'layouts/error_messages', model: f.object %>
  
  <div class="field">
    <%= f.label :video_name, "動画名" %><br />
    <%= f.text_field :video_name, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :video_url, "動画URL" %><br />
    <%= f.text_field :video_url, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :overview, "動画概要" %><br />
    <%= f.text_area :overview, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :genre_id, "動画ジャンル" %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, ) %>
  </div>

  <div class="field", id= "youtube_image">
    <%= f.label :image, "サムネイル画像（任意）" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="image-preview" id="image-preview"></div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>