<main class="main">
  <div class="inner">
    <div class="video__wrapper">
      <p class="video__hedding">
        <%= @video.video_name%>
      </p>

      <div class="video_user__body">
        <%= link_to "by #{@video.user.channel_name}", user_path(@video.user), class: :video__user %>
      </div>

      <% if current_user == @video.user %>
        <div class="video__manage">
          <%= link_to "編集する", edit_video_path(@video), class: :video__btn %>
          <%= link_to "削除する", video_path(@video), method: :delete, class: :video__btn, data: { confirm: "この投稿を削除しますか？"} %>
        </div>
      <% end %>

      <div class="video__image">
        <% if @video.image.present? %>
          <%= image_tag @video.image %>
        <% else %>
          <%= image_tag "no_image.png" %>
        <% end %>
      </div>
      <div class="video__link">
        <%= link_to "<動画視聴はこちら>", "#{@video.video_url}",target: :_blank, rel: "noopener noreferrer" %>
      </div>
      <div class="video__body">
        <div class="video__detail">
          <p class="detail__title">動画ジャンル</p>
          <p class="detail__message">
            <%= @video.genre.name %>
          </p>
        </div>
        <div class="video__detail">
          <p class="detail__title">動画概要</p>
          <p class="detail__message">
            <%= text_url_to_link(simple_format(@video.overview)).html_safe %>
          </p>
        </div>
      </div>
      <div class="sns" >
        <p class="sns__title">SNSで共有</p>
        <%= link_to (image_tag "twitter_logo.png", class: :sns__img), "https://twitter.com/intent/tweet?text=#{@video.video_name}#{@video.video_url}",target: :_blank, rel: "noopener noreferrer" %>
        <%= link_to (image_tag "facebook_logo.png", class: :sns__img), "https://www.facebook.com/share.php?u=#{@video.video_url}",target: :_blank, rel: "noopener noreferrer" %>
        <%= link_to (image_tag "line_logo.png", class: :sns__img), "https://social-plugins.line.me/lineit/share?url=#{@video.video_url}",target: :_blank, rel: "noopener noreferrer" %>
      </div>
      <div>
        <%= link_to "#{@video.genre.name}の動画PRをもっと見る", category_video_path(@video.genre.id), class: :genre__btn %>
      </div>
      <div class="video__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@video, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %> 
        <ul class="comments_lists">
          <% @comments.each do |comment|%>
            <% if comment.reply_comment_id.nil? %>
            <li class="comments_list">
              <div class="comment">
              <%= text_url_to_link(comment.text).html_safe%>
              <%= link_to "（#{comment.user.channel_name}）", user_path(comment.user), class: :comment_user %>
              </div>
                <ul class="reply_lists">
              <% @replies.each do |reply|%>
                <% if reply.reply_comment_id == comment.id%>
                  <li class="reply_list">
                    <%= text_url_to_link(reply.text).html_safe%>
                    <%= link_to "（#{reply.user.channel_name}）", user_path(reply.user), class: :comment_user %>
                  </li>
                <% end %> 
              <% end %> 
                </ul>
              <% if user_signed_in? %>
                <%= form_with model: [@video, @comment], local: true do |f|%>
                  <div class="reply_field">
                    <%= f.text_field :text %>
                    <%= f.hidden_field :reply_comment_id, value: comment.id  %>
                  </div>
                  <div class="reply">
                    <%= f.submit "返信する", class: :form__btn  %>
                  </div>
                <% end %> 
              <% end %> 
            </li>
            <% end %> 
          <% end %>
        </ul>
      </div>
    </div>
    <div class="to-top", id="to-top">
      <%= "⇧" %>
    </div>
  </div>
</main>
