<main class="main">
  <div class="inner">
    <div class="video__wrapper">
      <p class="video__hedding">
        <%= @video.video_name%>
      </p>
      <%= link_to "by #{@video.user.channel_name}", user_path(@video.user), class: :video__user %>
      
      <% if current_user == @video.user %>
        <div class="video__manage">
          <%= link_to "編集する", edit_video_path(@video), class: :video__btn %>
          <%= link_to "削除する", video_path(@video), method: :delete, class: :video__btn, data: { confirm: "この投稿を削除しますか？"} %>
        </div>
      <% end %>

      <div class="video__image">
        <% if @video.image.present? %>
          <%= image_tag @video.image %>
        <% else %>
          <%= image_tag "no_image.png" %>
        <% end %>
      </div>
      <div class="video__body">
        <div class="video__detail">
          <p class="detail__title">動画ジャンル</p>
          <p class="detail__message">
            <%= @video.genre.name %>
          </p>
        </div>
        <div class="video__detail">
          <p class="detail__title">動画URL</p>
          <p class="detail__message">
            <%= link_to "#{@video.video_url}", "#{@video.video_url}",target: :_blank, rel: "noopener noreferrer" %>
          </p>
        </div>
        <div class="video__detail">
          <p class="detail__title">動画概要</p>
          <p class="detail__message">
            <%= @video.overview %>
          </p>
        </div>
        <div class="tweet">
        <p class="detail__title">SNSで共有</p>
        <%= link_to (image_tag "twitter_logo.png", class: :sns__img), "https://twitter.com/intent/tweet?text=#{@video.video_name}#{@video.video_url}",target: :_blank, rel: "noopener noreferrer" %>
        <%= link_to (image_tag "facebook_logo.png", class: :sns__img), "https://www.facebook.com/share.php?u=#{@video.video_url}",target: :_blank, rel: "noopener noreferrer" %>
        <%= link_to (image_tag "line_logo.png", class: :sns__img), "https://social-plugins.line.me/lineit/share?url=#{@video.video_url}",target: :_blank, rel: "noopener noreferrer" %>
        </div>
      </div>
      <div class="video__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@video, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %> 
        <ul class="comments_lists">
          <% @comments.each do |comment|%>
            <li class="comments_list">
              <%= comment.text%>
              <%= link_to "（#{comment.user.channel_name}）", user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
